<%- include("head") %>
<body>
    <h1>User Details</h1>
    <% data.forEach((item)=>{ %>
        <div class="container">
            <h5>ID: </h5>
            <p>
                <%=item.id%>
            </p>
        </div>
        <div class="container">
            <h5>First Name: </h5>
            <p>
                <%=item.first_name%>
            </p>
        </div>
        <div class="container">
            <h5>Last Name: </h5>
            <p>
                <%=item.last_name%>
            </p>
        </div>
        <div class="container">
            <h5>Username: </h5>
            <p>
                <%=item.username%>
            </p>
        </div>
        <div class="container">
            <h5>Email: </h5>
            <p>
                <%=item.email%>
            </p>
        </div>
    <% }); %>
    <a href="/" id="foruserdetail">Back to Users List</a>
</body>
</html>